@model Website.ViewModels.PanelSliderViewModel


@foreach(var panel in Model.Panels)
{
    <h1>@panel.Title</h1>

    @Html.Raw(panel.Textarea)
    
    if(panel.Image != null)
    {
        <img src="@panel.Image.URL" alt="@panel.Image.Label" />
    }

}